<section>
	<div id="room" class="hidden" data-room="{{room}}"></div>
	<div class="page-wrap">
		<div id="app" class="x-pad-1_0 y-pad-1_0">
			<div id="admin">
				<input type="radio" name="tabs" id="chat" class="hidden" checked><!--
				--><label for="chat" class="tab">Chat</label><!--
				--><input type="radio" name="tabs" id="chat-opt" class="hidden" ><!--
				--><label for="chat-opt" class="tab">Chat Options</label><!--
				--><input type="radio" name="tabs" id="rooms" class="hidden" ><!--
				--><label for="rooms" class="tab">Rooms</label><!--
				--><input type="radio" name="tabs" id="users" class="hidden" ><!--
				--><label for="users" class="tab">Users</label>
				<div class="panel chat">
					<div id="chat-box">
						<div class="parent fillout">
							<div id="messages"></div>
							<div class="tab"><div class="parent">&#x2630;</div></div>
							<div id="side-bar">
								<div class="parent">
									<div class="parent fillout">
										<form id="logout" action="/logout">
											<button>Logout</button>
										</form>
										<div id="room-list">
											<ul>
												{{#each rooms}}
												<li data-roomname="{{roomname}}" data-topic="{{topic}}" class="room block parent">
													<span class="name">{{roomname}}</span>
													<ul>
													</ul>
												</li>
												{{/each}}
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div id="tools">
								<div class="inline-block fullheight"></div>
								<label for="timestamp">Show Time: </label><!--
								--><input type="checkbox" name="timestamp" id="timestamp">
							</div>
							<form id="chat-form">
								<div class="fillout parent">
									<div id="list-box"></div>
									<input id="chat-val" type="text" name="msg" placeholder="Enter chat message..." disabled>
									<button type="submit" disabled>SEND</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="panel chat-opt">
					<div id="mgmt">
						<ul id="item-list">
							{{#each chatOptions}}
								<li class="item">
									<span class="name" data-ind="{{@key}}">{{name}}</span>
								</li>
							{{/each}}
						</ul><!--
						--><div id="item-options">
							<h1 class="title font-size-1_5">Chat Options</h1>
							{{#each chatOptions}}
								<div class="option-box option-{{@key}} {{#if @key}}hidden{{else}}{{/if}}" data-section="{{name}}" >
									{{#if emoteBans}}
										<h1 class="title font-size-1_2">Add Banned Emoticon</h1>
										<form class="add-window" action="/update-emotes">
											<div class="col-2 left-justify">
												<label>Emote Keyword: </label>
											</div><!--
											--><div class="col-2 right-justify">
												<input type="text" name="emote" placeholder="Enter the emote keyword to ban"><br>
											</div>
											<div class="center-justify x-pad-3_9">
												<button>Submit</button>
											</div>
										</form>
										<div class="y-marg-1_0">
											<ul id="banned-list">
												<h1 class="title font-size-1_2">Current Bans</h1>
												{{#each ../../bannedEmotes}}
													<li class="emote" data-emote="{{this}}">{{this}}<div class="close">x</div></li>
												{{/each}}
											</ul>
										</div>
									{{/if}}
									{{#if wordBans}}
										<h1 class="title font-size-1_2">Add Banned Word</h1>
										<form class="add-window" action="/update-banned">
											<div class="col-2 left-justify">
												<label>Word: </label>
											</div><!--
											--><div class="col-2 right-justify">
												<input type="text" name="word" placeholder="Enter the word to ban"><br>
											</div>
											<div class="center-justify x-pad-3_9">
												<button>Submit</button>
											</div>
										</form>
										<div class="y-marg-1_0">
											<ul id="banned-list">
												<h1 class="title font-size-1_2">Current Bans</h1>
												{{#each ../../bannedWords}}
													<li class="word" data-word="{{this}}">{{this}}<div class="close">x</div></li>
												{{/each}}
											</ul>
										</div>
									{{/if}}
									{{#if addresses}}
										<h1 class="title font-size-1_2">Edit Banned IP Addresses</h1>
										<form class="add-window" action="/update-ips">
											<div class="col-2 left-justify">
												<label>Add Address: </label>
											</div><!--
											--><div class="col-2 right-justify">
												<div class="col-4 unset-force align-top x-pad-0_1">
													<input value="" type="text" name="addr1" maxlength="3" class="center-justify">
												</div><!--
												--><div class="col-4 unset-force align-top x-pad-0_1">
													<input value="" type="text" name="addr2" maxlength="3" class="center-justify">
												</div><!--
												--><div class="col-4 unset-force align-top x-pad-0_1">
													<input value="" type="text" name="addr3" maxlength="3" class="center-justify">
												</div><!--
												--><div class="col-4 unset-force align-top x-pad-0_1">
													<input value="" type="text" name="addr4" maxlength="3" class="center-justify">
												</div>
											</div>
											<div class="center-justify x-pad-3_9">
												<button>Submit</button>
											</div>
										</form>
										<div class="y-marg-1_0">
											<ul id="banned-list">
												<h1 class="title font-size-1_2">Current Bans</h1>
												{{#each ../../bannedAddrs}}
													<li class="addr" data-addr="{{this.ip}}">{{this.ip}}<div class="close">x</div></li>
												{{/each}}
											</ul>
										</div>
									{{/if}}
									{{#if levelColors}}
										<h1 class="title font-size-1_2">Manage Level Colors</h1>
										<form class="add-window" action="/update-colors">
											<!-- regular -->
											<div class="col-2 left-justify align-middle">
												<label>Regular: </label>
											</div><!--
											--><div class="col-2 left-justify">
												<input type="color" name="regularColor" value="{{../../levelColors.regular}}"><br>
											</div>
											<!-- teen mod -->
											<div class="col-2 left-justify align-middle">
												<label>Teen Mod: </label>
											</div><!--
											--><div class="col-2 left-justify">
												<input type="color" name="teenModColor" value="{{../../levelColors.teenMod}}"><br>
											</div>
											<!-- Junior Mod -->
											<div class="col-2 left-justify align-middle">
												<label>Junior Mod: </label>
											</div><!--
											--><div class="col-2 left-justify">
												<input type="color" name="juniorModColor" value="{{../../levelColors.juniorMod}}"><br>
											</div>
											<!-- Moderator -->
											<div class="col-2 left-justify align-middle">
												<label>Moderator: </label>
											</div><!--
											--><div class="col-2 left-justify">
												<input type="color" name="moderatorColor" value="{{../../levelColors.moderator}}"><br>
											</div>
											<!-- Admin -->
											<div class="col-2 left-justify align-middle">
												<label>Admin: </label>
											</div><!--
											--><div class="col-2 left-justify">
												<input type="color" name="adminColor" value="{{../../levelColors.admin}}">{{levelColors.admin}}<br>
											</div>
											<div class="center-justify x-pad-3_9">
												<button>Submit</button>
											</div>
										</form>
									{{/if}}
								</div>
							{{/each}}
						</div>
					</div>
				</div>
				<div class="panel rooms">
					<div id="mgmt">
						<ul id="item-list">
							{{#each rooms}}
								<li class="item parent">
									<span class="name" data-roomname="{{roomname}}" data-topic="{{topic}}" data-mods="{{minMods}}">{{roomname}}</span>
									<span class="number">{{users.length}}</span>
								</li>
							{{/each}}
							<li class="item add"><span class="name">Add A Room +</span></li>
						</ul><!--
						--><div id="item-options">
							<h1 class="title font-size-1_5">Add Room</h1>
							<form class="add-window" action="/update-rooms">
								<div class="left-justify">
									<label>Room Name: </label>
								</div><!--
								--><div class="right-justify">
									<input type="text" name="roomname" placeholder="Enter the room name..."><br>
								</div><br>
								<div class="left-justify">
									<label>Minimum Moderators: </label>
								</div><!--
								--><div class="right-justify">
									<select name="minmods">
										<option data-ind="0">0</option>
										<option data-ind="1">1</option>
										<option data-ind="2" selected>2</option>
										<option data-ind="3">3</option>
									</select><br>
								</div><br>
								<div class="left-justify">
									<label>Room Topic: </label>
								</div><!--
								--><div class="right-justify">
									<input type="text" name="topic" placeholder="Enter the room topic"><br>
								</div>
								<div class="left-justify hide hidden-force">
									<label>Delete Room: </label>
								</div><!--
								--><div class="right-justify hide hidden-force">
									<input type="checkbox" name="op" value="true"><br>
								</div>
								<div class="center-justify x-pad-3_9">
									<button>Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="panel users">
					<div id="mgmt">
						<ul id="item-list">
							{{#each users}}
								<li class="item parent">
									<span class="name" data-usernameFull="{{usernameFull}}">{{usernameFull}}</span>
									<span class="number {{#if banned}}banned-true{{/if}}"></span>
								</li>
							{{/each}}
						</ul><!--
						--><div id="item-options" class="invisible">
							<h1 class="title font-size-1_5">User Options</h1>
							<h1 class="title font-size-1_2">Adjust User Info</h1>
							<form class="add-window" action="/adjust-user">
								<div class="col-2 left-justify">
									<label>Username: </label>
								</div><!--
								--><div class="col-2 right-justify">
									<input type="text" name="newUsername" placeholder="Enter a new username"><br>
								</div><br>
								<div class="col-2 left-justify">
									<label>Access Level: </label>
								</div><!--
								--><div class="col-2 right-justify">
									<select name="accessLevel">
										<option>regular</option>
										<option>teen mod</option>
										<option>junior mod</option>
										<option>moderator</option>
										<option>admin</option>
									</select>
								</div><br>
								<div class="col-2 left-justify">
									<label>Ban user: </label>
								</div><!--
								--><div class="col-2 right-justify">
									<label>Account Ban</label>
									<input type="radio" name="ban" value="ACC"><br>
									<label>IP Ban: </label>
									<input type="radio" name="ban" value="IP">
								</div>
								<div class="center-justify x-pad-3_9">
									<button>Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="pm-section">
		<div>
			<div>
				<div></div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="//cdn.jsdelivr.net/emojione/1.5.0/lib/js/emojione.min.js"></script>
<script type="text/javascript" src="/js/chat-handle.js"></script>
<script type="text/javascript" src="/js/admin-panel.js"></script>
<!-- <script type="text/javascript">var dragTab = ".mover";</script> -->
<!-- <script type="text/javascript" src="/js/drag-n-drop.js"></script> -->
<style type="text/css" id="level-colors">
	.chat > .regular {
		box-shadow: inset 0 -.4em 0 0 {{levelColors.regular}},
		inset 0 .4em 0 0 {{levelColors.regular}} !important;
	}
	.chat > .teen-mod {
		box-shadow: inset 0 -.4em 0 0 {{levelColors.teenMod}},
		inset 0 .4em 0 0 {{levelColors.teenMod}} !important;
	}
	.chat > .junior-mod {
		box-shadow: inset 0 -.4em 0 0 {{levelColors.juniorMod}},
		inset 0 .4em 0 0 {{levelColors.juniorMod}} !important;
	}
	.chat > .moderator {
		box-shadow: inset 0 -.4em 0 0 {{levelColors.moderator}},
		inset 0 .4em 0 0 {{levelColors.moderator}} !important;
	}
	.chat > .admin {
		box-shadow: inset 0 -.4em 0 0 {{levelColors.admin}},
		inset 0 .4em 0 0 {{levelColors.admin}} !important;
	}
	/*room list icon*/
	.icon.regular {
		background: {{levelColors.regular}};
	}
	.icon.teen-mod {
		background: {{levelColors.teenMod}};
	}
	.icon.junior-mod {
		background: {{levelColors.juniorMod}};
	}
	.icon.moderator {
		background: {{levelColors.moderator}};
	}
	.icon.admin {
		background: {{levelColors.admin}};
	}
</style>