<section>
	<div id="user-data" class="hidden" data-usernamefull="{{username}}" data-access="{{accessLevel}}"></div>
	<div id="room" class="hidden" data-room="{{room}}"></div>
	<div class="page-wrap">
		<div id="app" class="x-pad-1_0 y-pad-1_0">
			<div id="chat-box">
				<div class="parent fillout">
					<div id="messages"></div>
					<div class="tab"><div class="parent">&#x2630;</div></div>
					<div id="side-bar">
						<div class="parent">
							<div class="parent fillout">
								<form id="logout" action="/logout">
									<button>Logout</button>
								</form>
								<div id="room-list">
									<ul>
										{{#each rooms}}
										<li data-roomname="{{roomname}}" data-topic="{{topic}}" class="room block parent">
											<span class="name">{{roomname}}</span>
											<ul>
											</ul>
										</li>
										{{/each}}
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div id="tools">
						<div class="inline-block fullheight"></div>
						<label for="timestamp">Show Time: </label><!--
						--><input type="checkbox" name="timestamp" id="timestamp">
					</div>
					<form id="chat-form">
						<div class="fillout parent">
							<div id="list-box"></div>
							<input id="chat-val" type="text" name="msg" placeholder="Enter chat message..." disabled>
							<button type="submit" disabled>SEND</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="pm-section">
		<div>
			<div>
				<div></div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/touch.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/chat-handle.js"></script>
<script src="//cdn.jsdelivr.net/emojione/1.5.0/lib/js/emojione.min.js"></script>
<!-- <script type="text/javascript">var dragTab = ".mover";</script> -->
<!-- <script type="text/javascript" src="/js/drag-n-drop.js"></script> -->
<style type="text/css" id="level-colors">
	.chat > .regular {
		box-shadow: inset 0 -.4em 0 0 {{levelColors.regular}},
		inset 0 .4em 0 0 {{levelColors.regular}} !important;
	}
	.chat > .teen-mod {
		box-shadow: inset 0 -.4em 0 0 {{levelColors.teenMod}},
		inset 0 .4em 0 0 {{levelColors.teenMod}} !important;
	}
	.chat > .junior-mod {
		box-shadow: inset 0 -.4em 0 0 {{levelColors.juniorMod}},
		inset 0 .4em 0 0 {{levelColors.juniorMod}} !important;
	}
	.chat > .moderator {
		box-shadow: inset 0 -.4em 0 0 {{levelColors.moderator}},
		inset 0 .4em 0 0 {{levelColors.moderator}} !important;
	}
	.chat > .admin {
		box-shadow: inset 0 -.4em 0 0 {{levelColors.admin}},
		inset 0 .4em 0 0 {{levelColors.admin}} !important;
	}
	/*room list icon*/
	.icon.regular {
		background: {{levelColors.regular}};
	}
	.icon.teen-mod {
		background: {{levelColors.teenMod}};
	}
	.icon.junior-mod {
		background: {{levelColors.juniorMod}};
	}
	.icon.moderator {
		background: {{levelColors.moderator}};
	}
	.icon.admin {
		background: {{levelColors.admin}};
	}
</style>