<section>
	<div id="user-data" class="hidden" data-username="{{username}}" data-access="{{accessLevel}}"></div>
	<div id="room" class="hidden" data-room="{{room}}"></div>
	<div class="page-wrap">
		<div class="x-pad-1_0 y-pad-1_0">
			<div id="chat-box">
				<div class="parent fillout">
					<div id="messages"></div>
					<div id="side-bar">
						<div class="parent fillout">
							<form id="logout" action="/logout">
								<button>Logout</button>
							</form>
							<div id="room-list">
								<ul>
									{{#each rooms}}
									<li data-roomname="{{roomname}}" class="room block parent">
										<span class="name">{{roomname}}</span>
										<ul>
											{{#each users}}
											<li class="user parent">{{username}}</li>
											{{/each}}
										</ul>
									</li>
									{{/each}}
								</ul>
							</div>
						</div>
					</div>
					<div id="tools"></div>
					<form id="chat-form">
						<div class="fillout parent">
							<div id="list-box"></div>
							<input id="chat-val" type="text" name="msg" placeholder="Enter chat message..." disabled>
							<button type="submit" disabled>SEND</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
	var bannedWords = "{{bannedWords}}";
	var bannedArr = bannedWords.split(",").map(function(elem, ind) {
		return elem;
	});
</script>
<script type="text/javascript" src="/js/chat-handle.js"></script>
<!-- <script type="text/javascript" src="/js/drag-n-drop.js"></script> -->
<!-- <script type="text/javascript">dragNdrop("#room-list ul", ".room", ".room");</script> -->